<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings>
    <add key="ImageFolderName" value="~\\ImageFolder\\"/>
    <add key="ExcelFilePath" value="~//XlsUploadFile//"/>
    <add key="ZipFilePath" value="~//ZipFile//"/>
    <add key="RecordImageSize" value="8"/>
    <add key="WebSiteName" value="http://172.93.237.114:8080/"/>
    <add key="FromMailID" value="tridev1983@outlook.com" />
    <add key="ForgatPassword" value="Password Information" />
    <add key="WelcomeNote" value="EDC Password info" />
    <add key="DefaultPwd" value="12345678"/>
    <add key="MaxExcelFileSize" value="20728650"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=SASWATGUPTA-PC;Initial Catalog=ImageDataDB;User ID=sa;Password=sa123$" providerName="system.Data.SqlClient"/>
    <add name="ImageDataDBEntities" connectionString="metadata=res://*/ImageConvertor.csdl|res://*/ImageConvertor.ssdl|res://*/ImageConvertor.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SASWATGUPTA-PC;initial catalog=ImageDataDB;user id=sa;password=sa123$;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>

  <system.web>
    <httpRuntime executionTimeout="240" maxRequestLength="40480" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="tridev1983@outlook.com">
        <!--<network host="125.210.189.244" password="" userName=""/>-->
        <network host="smtp-mail.outlook.com" userName="tridev1983@outlook.com" password="Tridev@1983" port="587"  />
      </smtp>
    </mailSettings>
  </system.net>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>